.ModalComp__register{
    display: flex;
    flex-direction: column;
  }
  .ModalComp__headerImage{
    object-fit: contain;
    height:70px;
    background-color: white;
  }
.ModalComp__name{
  width:100%;
}
  Input#firstName{
  padding-right: 100px;
  text-align:center;
  }
  Input#lastName{
  text-align:center;
  padding-right: 100px;
  }